button{
    padding: 5px 25px;
    border-radius: 25px;
    border: none;
    margin-top: 25px;
    
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    color: white;
    margin-left: 2px;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.5 s;
}